@tailwind base;
@tailwind components;
@tailwind utilities;

.body-bg {
    background-color: #9921e8;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(87,108,117,1) 0%, rgba(37,50,55,1) 100.2% );
}